<div class="row">
<div class="span6 offset1">
  This application has been developped by the <a href="http://www.genouest.org">GenOuest BioInformatics Platform</a> and Agro-Campus Rennes.
</div>
</div>
