<div class="row">
<div class="span6 offset1">
  <%= t :madeby %> 
   <ul>
   <li><a href="http://www.genouest.org">GenOuest BioInformatics Platform</a></li>
   <li>Agro-Campus Rennes</li>
   </ul>
</div>
</div>
