<div class="row">
  <div class="offset1"><%= button_to t("game.new_game"), games_path, :class => 'btn btn-large btn-primary', :method => :post %></div>
</div>
<% if ! @games.empty? %>
<div class="row">
  <div class="span4 offset1"><%= t("game.previous_game") %>:</div>
</div>
  <% @games.each do |game| %>
<div class="row gamesession">
  <div class="offset2 span4"><%= button_to game.created_at, game_path(game), :class => 'btn btn-large btn-success', :method => :get %></div>
</div>
  <% end %>

<% end %>
