/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides.css
 *= require_self
 *= require_tree .
 */
.counter {
   border-style: solid;
   background-color: black;
   color: white;    
   font-style: bold; 
   padding: 5px;
   border-width: 2px;
   border-color: lightgrey;
}

.dead {
    display: none;
}

.action {
    margin: 10px;
}

.selected td {
    background-color: lightblue;
}

.icon-trash::before {
  content: none;
}

.bg1 {
  width: 100%;
  min-height: 600px;
  background-image: url('bg1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.intro { 
  height: 100%;
  min-height: 600px;
  background-image: url('main.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.cow {
  width: 400px;
  height: 353px;
  background-image: url('cow.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 15px;

}

.footer {
  background-color: #FAFAFA;
}

.gamesession {
    margin: 10px;
}

.gamelist {
  list-style-type: none;
}


#welcome {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 3%;
}

@media screen and (max-width: 640px) {
    .intro {
        background-image: none;
    }

    .optional {
        display: none;
    }
}
