/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides.css
 *= require_self
 *= require_tree .
 */

.notice {
  background-color: lightgreen;
  padding: 5px;
}

a.generationerror {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#f50e35 0%,
		#990612 25%,
		#9c061a);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f50e35),
		color-stop(0.25, #990612),
		to(#9c061a));
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 3px solid #ffffff;
	-moz-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(240,115,196,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(240,115,196,1);
	box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(240,115,196,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}


a.generationsuccess {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#4dfa53 0%,
		#1f9906 25%,
		#0c6903);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#4dfa53),
		color-stop(0.25, #1f9906),
		to(#0c6903));
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 3px solid #ffffff;
	-moz-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(115,240,165,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(115,240,165,1);
	box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(115,240,165,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

a.generationcurrent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#4d8dfa 0%,
		#829bff 25%,
		#021647);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#4d8dfa),
		color-stop(0.25, #829bff),
		to(#021647));
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 3px solid #ffffff;
	-moz-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(82,206,222,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(82,206,222,1);
	box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(82,206,222,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}


h3 {
  padding: 5px;
}

#dashboard {
  margin: 35px;
  background-color: white;
}

#graphlegend {
	border-radius: 15px;
	margin: 10px;
}

.counter {
   border-style: solid;
   background-color: black;
   color: white;    
   font-style: bold; 
   padding: 5px;
   border-width: 2px;
   border-color: lightgrey;
}

.dead {
    display: none;
}

.action {
    margin: 10px;
}

.selected td {
    background-color: lightblue;
}

.icon-trash::before {
  content: none;
}

.bg1 {
  width: 100%;
  min-height: 600px;
  background-image: url('bg1.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.intro { 
  height: 100%;
  min-height: 600px;
  background-image: url('main.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.cow {
  width: 400px;
  height: 353px;
  background-image: url('cow.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 15px;

}

.footer {
  background-color: #FAFAFA;
}

.gamesession {
    margin: 10px;
}

.gamelist {
  list-style-type: none;
}


#welcome {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 3%;
}

@media screen and (max-width: 640px) {
    .intro {
        background-image: none;
    }

    .optional {
        display: none;
    }
}
